<?xml version="1.0" encoding="UTF-8"?>
<widget>
    <previewjs></previewjs>
    <type>user</type>
    <cpname></cpname>
    <cplogo></cplogo>
    <cpauthjs></cpauthjs>
    <ThumbIcon>Images/icon/SmartTvWeb_106.png</ThumbIcon>
    <BigThumbIcon>Images/icon/SmartTvWeb_115.png</BigThumbIcon>
    <ListIcon>Images/icon/SmartTvWeb_85.png</ListIcon>
    <BigListIcon>Images/icon/SmartTvWeb_95.png</BigListIcon>
    <ver>0.95.0914</ver>
    <mgrver></mgrver>
    <fullwidget>y</fullwidget>
	<movie>y</movie>
    <srcctl>y</srcctl>
    <ticker>n</ticker>
    <childlock>n</childlock>
    <audiomute>n</audiomute>
    <videomute>n</videomute>
    <dcont>y</dcont>
    <widgetname>VDR on TV</widgetname>
    <network>n</network>
    <description></description>
    <width>960</width>
    <height>540</height>
    <author>
        <name>T. Lohmar</name>
        <email>smarttv640@gmail.com</email>
        <link></link>
        <organization>Private</organization>
    </author>
	<deleteJS>Config</deleteJS>
</widget>
